<div class="settings-container">
  <h2>設定</h2>
  <ul class="settings">
    <li><%= link_to "アカウント", users_show_path, class: "settings-link" %></li>
    <li><%= link_to "プロフィール", users_profile_path, class: "settings-link" %></li>
  </ul>
</div>
