<div class="first-view">
  <h1 class="first-view-title">国内旅行<span>なら</span>Potepan Travel</h1>
  <div class="erea-search">
    <form>
      <input type="text">
      <input type="submit">
    </form>
  </div>
</div>

<div class="container">
  <h2 class="recommend-area-title">おすすめのエリア</h2>
  <div class="recommend-area-section">
    <ul>
      <li>東京</li>
      <li>大阪</li>
      <li>京都</li>
      <li>札幌</li>
    </ul>
  </div>
</div>
