body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  /* footer最下部に固定*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  border-radius: 5px;
}

li {
  list-style: none;
}

.notice {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
  padding: 10px 24px;
  margin: 0 auto;
  width: fit-content;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 51, 0.838);
}

.title {
  font-size: 33px;
  color: #fff;
  margin: 10px 0 10px 30px;
}

.h-link {
  color: #fff;
  margin: 30px;
}

.sign-in-link {
  margin-right: 10px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 51, 0.838);
  margin-top: auto;
  display: flex;
  align-items: center;
}

/* top */
.first-view {
  text-align: center;
  background-image: url('beach.jpeg');
  background-size: cover;
  height: 100vh;
}

.first-view-title {
  font-size: 50px;
  color: #fff;
  margin: 100px 0 50px;
}

.first-view-title span {
  font-size: 38px;
}

/* registrations-new */
#form-wrapper {
  margin: 0 auto;
}

#form {
  background-color: #fff;
  width: fit-content;
  padding: 20px 20px;
  margin: 0 auto 20px;
}

.field {
  margin-bottom: 20px;
}

input {
  padding: 4px 8px;
  font-size: 18px;
  width: 30vw;
}

.check-box {
  width: fit-content;
}

.actions {
  display: flex;
  justify-content: right;
}

.btn {
  width: 33%;
}

.edit-link {
  color: navy;
}

/* shared#_settings */
.settings-container {
  width: 25vw;
  margin: 10px;
}

.settings {
  font-size: 18px;
  padding: 0;
}

.settings li {
  border: solid 1px;
  border-bottom: none;
  padding: 20px;
}

.settings li:last-child {
  border-bottom: solid 1px;
}

/* users#show */
.account-wrapper {
  display: flex;
}

.account-container {
  margin: 20px;
}

.account-title {
  display: flex;
  justify-content: space-around;
}
